<!-- Loads the static files address -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links html to the css style sheet using static -->
    <link rel="stylesheet" href="{% static "waiter/css/OrderTakingStyle.css" %}">
    <title>DishOut - Order Taking</title>
</head>
<body>
    <div class="main">
        <!-- Creates a container for the current order to seperate the screen -->
        <div class="Order">
            <!-- Creates a container for the current order where the selected items will be listed -->
            <div class="Current-Order">
                <!-- Adds a title to the current order -->
                <h1>Current Order</h1>
                <!-- Creates a container for the current order where the selected items will be listed -->
                <div id="CurrentOrderContainer"> 
                </div>
            </div>
            <!-- Creates a container for the buttons to control the order like selecting the table number -->
            <div class="Order-buttons">
                <!-- Creates the table selection using html selection-->
                <select name="Table-Select" id="Table-Select">
                    <!-- Adds the default selected option -->
                    <option value="0" selected>Table Number: None</option>
                    <!-- Dynamically adds all the tables to the HTML -->
                    {% for table in tables %}
                        <option value="{{table.Table_Number}}">Table Number: {{table.Table_Number}}</option>
                    {% endfor %}
                </select>
                <!-- Creates a total to pay button -->
                <div id="TotalToPay">Total: </div>
                <!-- Creates a current dish selection button -->
                <select name="Current-Dish" id="Current-Dish">
                    <!-- Adds the default selected option -->
                    <option value="0" selected>Current Dish: None</option>
                </select>
                <!-- Creates a note button which runs the function addNote -->
                <button id="Note" onclick="OrderMethods.addNote()">
                    <!-- Adds image to the note button -->
                    <img src="{% static "waiter/images/editButton.png" %}" alt="Note">
                </button>
                <!-- Creates a submit order button and runs the function submitOrder-->
                <button id="Submit-Order" onclick="OrderMethods.submitOrder()">Submit Order</button>
            </div>
        </div>
        <!-- Creates a constainer to seperate the dish selection, search, and categories from the current order -->
        <div class="ListOfDishes">
            <!-- Creates a container to hold the search bar and the back button -->
            <div class="Search">
                <!-- Adds a button that lets you go back to the waiter selection screen -->
                <a href="{% url 'selectView' %}">
                    <!-- Adds image to the back button of a back button -->
                    <img src="{% static "waiter/images/backbutton.png" %}" alt="Back button">
                </a>
                <!-- Dish search bar -->
                <div class="Search_Bar">
                    <!-- Search image -->
                    <img src="{% static "waiter/images/search.png" %}" alt="Search">
                    <!-- Search input box -->
                    <input type="text" id="Search-Bar">
                </div>
            </div>
            <!-- Creates a container to hold the categories for the dishes -->
            <div class="Categories">
                <!-- Adds the selected category -->
                <div id="Selected-Category">All</div>
                <div class="Unselected-Categories">
                    <!-- Adds Unselected categories -->
                    <div class="UnselectedCat" id="Cat-1">Starter</div>
                    <div class="UnselectedCat" id="Cat-2">Main</div>
                    <div class="UnselectedCat" id="Cat-3">Desserts</div>
                    <div class="UnselectedCat" id="Cat-4">Drinks</div>
                    <div class="UnselectedCat" id="Cat-5">Sides</div>
                </div>
            </div>
            <!-- Creates a container for where the dishes will be listed and picked -->
            <div class="Dish-Selection">
                <!-- Dynamically adds all the dishes to the HTML -->
                {% for dish in dishes %}
                    <!-- This is a button which will send which dish has been clicked on to to javascript
                    It also has a unique id for changing its styling when it is not needed -->
                    <div class="dish-container" id="dish-{{dish.DishID}}" data-dish-number="{{ forloop.counter0 }}">
                        <div class="IndivDish">
                            <!-- Loads image for this dish -->
                            <img src="{% static 'waiter/images/dishes/' %}{{ dish.Name }}.jpg" alt="">
                            <!-- Displays dish price -->
                            <div class="Dish-Price">£{{dish.Price}}</div>
                            <!-- Displays dish name -->
                            <div  class="Dish-Name">{{dish.Name}}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Links the external JavaScript to this HTML document -->
    <script src="{% static "waiter/js/orderTakingJS.js" %}"></script>
</body>
</html>

