{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the css file -->
    <link rel="stylesheet" href="{% static "waiter/css/readyDishesStyle.css" %}">
    <title>DishOut - Ready Dishes</title>
</head>
<body>
    <!-- Makes a back button -->
    <a href="{% url 'selectView' %}" id="backbutton">
        <!-- Makes the back button image -->
        <img src="{% static "waiter/images/backbutton.png" %}" alt="Back button">
    </a>
    <div class="container">
        <!-- Makes the title for this section -->
        <h1 class="Title">Ready Dishes</h1>
        <!-- Makes a div for the orders -->
        <div class="DisplayOrders">
            <!-- Loops through the orders and displays them -->
            {% for order in orders  %}
            <div class="Order">
                <!-- Displays the table number -->
                <p>Table {{order.Table_Number.Table_Number}}</p>
                <!-- Displays the dish name -->
                <p>{{order.DishID.Name}}</p>
                <!-- Makes a button that runs the takeOrder function and gives it the table number and order id through the paramaters -->
                <button onclick="takeOrder({{order.OrderID}})">Take</button>
            </div>
            {% endfor %}
        </div>
        <!-- Makes the title for this section -->
        <h1 class="Title">Taken Orders</h1>
        <div class="DisplayOrders">
            <!-- Loops through the orders and displays them -->
            {% for x in delivery %}
            <div class="Order">
                <!-- Displays the table number -->
                <p>Table {{x.OrderID.Table_Number.Table_Number}}</p>
                <!-- Displays the dish name -->
                <p>{{x.OrderID.DishID.Name}}</p>                
                <!-- Makes a button to mark the order as delivered -->
                <button onclick="deliverOrder({{x.OrderID.OrderID}})">Delivered</button>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
<!-- Loads the javascript -->
<script src="{% static "waiter/js/readyDishes.js" %}"></script>
