<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DishOut - Waiter app</title>
</head>
<body>
    <h1>Logged in as Username</h1>
    <h1>Waiter/EPOS Mode</h1>
    
    <div>
        <a href="">Table Satus</a>
        <a href="">Take An Order</a>
        <a href="">Ready Dishes</a>
        <a href="">Pay</a>
    </div>
    <a>Logout</a>
</body>
</html>