<!-- Will load all static elements so that I can link images and the css stylesheet -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links html to the css style sheet using static -->
    <link rel="stylesheet" href="{% static "waiter/css/tableStatusStyle.css" %}">
    <!-- Links the external JavaScript to this HTML document -->
    <script src="{% static "waiter/js/tableStatusJS.js" %}"></script>
    <title>DishOut - Table Status</title>
</head>
<body>
    <header>
        <!-- Button that takes the user back to the waiter selection screen -->
        <a href="{% url 'selectView' %}">
            <!-- loads back button image -->
            <img src="{% static "waiter/images/backbutton.png" %}" alt="">
        </a>
       
        <div class="ColourExplanation">
             <!-- Svg creates the box which is coloured to
            tell the user what each colour means -->
            <svg id="Ready" width ="40" height = "40">
                <rect width="40" height="40">
            </svg>
            <!-- Holds the status for which that colour is associated to -->
            <div>Ready</div>
            <svg id="Waitingtoorder" width ="40" height = "40">
                <rect width="40" height="40">
            </svg>
            <div>Waiting to order</div>
            <svg id="Waitingfororder" width ="40" height = "40">
                <rect width="40" height="40">
            </svg>
            <div>Waiting for order</div>
            <svg id="Waitingtopay" width ="40" height = "40">
                <rect width="40" height="40">
            </svg>
            <div>Waiting to pay</div>
        </div>
    </header>
    <!-- Django tag which allows me to dynamically add elements depending on 
        the number of tables in the Tables database -->
        <div class="center">
            <div class="TableButtons">
                {% for table in tables %}
                    <!-- Creates a form using the POST method to send data to the backend -->
                    <form action="", method="POST">
                        <!-- Django token which validates form requests -->
                        {% csrf_token %}
                        <!-- Creates a dive to hold the table. Uses javascript on click
                            so that the whole div becomes a button -->
                        <!-- Class is dynamic depending on the table number and its status -->
                        <div class="{% if table.Status == "Ready" %}table-ready
                        {% elif table.Status == "Waiting to order" %}table-waiting-to-order
                        {% elif table.Status == "Waiting for order" %}table-waiting-for-order
                        {% elif table.Status == "Waiting to pay" %}table-waiting-to-pay{% endif %}" onclick="this.querySelector('input[type=submit]').click()">
                            <!-- Now it will display the table number,the status and the timer -->
                            <p class="TableNum">Table {{ table.Table_Number }}</p>
                            <p class="TableStat">Status: {{ table.Status }}</p>
                            <p class="TableTime" id="timer-{{ table.Table_Number }}"></p>
                            <!-- Creates the submit button to send the data. 
                                Only if the table status is equal to ready-->
                            {% if table.Status == "Ready" %}
                            <input type="hidden" name="table_number" value="{{ table.Table_Number }}">
                            <input type="submit" value="Change status" style="display: none;">
                            {% endif %}
                        </div>
                    </form>
                {% endfor %}
            </div>
        </div>    
</body>
</html>



