/* Defines the font and removes the margin */
body{
    font-family: "Poppins";
    margin: 0px;
    height: 100%;
}

/* Seperates the two sides of the UI using flex and flips them due to one of them being on the wrong side */
.main{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
}

/* Order section */

.Order{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Current Order styling start */

.Current-Order{
    /* Places the elements aligned down the middle of the div starting from the top */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Sets the height to be 70% of the parent div */
    height: 70%;
    padding: 10px;
    /* Adds a border on the left and bottom */
    border-left: solid 1px #444444;
    border-bottom: solid 1px #444444;
}

.Current-Order h1{
    /* Sets the text size to be relative */
    font-size: 3rem;
    /* Sets the width to be 100% of the parent div */
    width: 100%;
    /* Sets the text to be in the middle of the div */
    display: flex;
    align-items: center;
    justify-content: center;
}

#CurrentOrderContainer{
    /* Makes it so that the container has to use 100% of the width and height of the parent div */
    width: 100%;
    height: 100%;
    /* Makes it auto scroll in the y axis */
    overflow-y: auto;
    box-sizing: border-box;
}

.OrderItem{
    /* Sets width to max possible */
    width: 100%;
    /* Makes a grid with 2 rows and 4 collumns and the last 2 collumns are smaller */
    display: grid;
    grid-template-columns: 60% 10% 15% 15%;
    grid-template-rows: 1fr 1fr;
    /* The last 2 collumns are 2 rows tall */
    grid-row: 1/3;
    /* Adds a border to the top */
    border-top: solid 1px #444444;
    /* Sets a margin to the top of 5px */
    margin-top: 10px;
}

.ItemName{
    /* Makes them bold and inherits height */
    font-weight: bold;
    height: inherit;
    /* Sets font size relative */
    font-size: 1.2rem;
}

.ItemProperties{
    /* Makes their font size relative */
    font-size: 1.2rem;
}

.Plus-Button{
    /* Makes it so that it is on the middle between 2 rows on the 3rd collumn */
    grid-column: 3;
    grid-row: 1/3;
    /* Adds a square aspect ration and makes it so that it is in the middle of the div */
    aspect-ratio: 1/1;
    justify-self: center;
    align-self: center;
    width: 50%;
    /* Background colour set to green */
    background-color: #41FF76;
    /* Border set to 0 but 10px curve */
    border-radius: 10px;
    border: 0px;
    /* Changes font size to fill the box and be bold */
    font-size: 1.7rem;
    font-weight: bold;
    /* Padding set to 0 */
    padding: 0px;
    /* aligns the text to the center */
    text-align: center;
}

/* Plus button when clicked */
.Plus-Button:active{
    /* Makes the background colour darker */
    background-color: #1a8b33;
}

.Minus-Button{
    /* Makes it so that it is on the middle between 2 rows on the 4th collumn */
    grid-column: 4;
    grid-row: 1/3;
    /* Adds a square aspect ration and makes it so that it is in the middle of the div */
    aspect-ratio: 1/1;
    justify-self: center;
    align-self: center;
    width: 50%;
    /* Background colour set to red */
    background-color: #FF4747;
    /* Border set to 0 but 10px curve */
    border-radius: 10px;
    border: 0px;
    /* Changes font size to fill the box and be bold */
    font-size: 1.7rem;
    font-weight: bold;
    /* Padding set to 0 */
    padding: 0px;
    /* aligns the text to the center */
    text-align: center;
}

/* Minus button when clicked */
.Minus-Button:active{
    /* Makes the background colour darker */
    background-color: #a30000;
}

/* Current Order styling end */

/*  Order buttons styling start */
.Order-buttons{
    height: 30%;
    /* Makes a grid with 3 collumns and 3 rows */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* Adds a border on the left */
    border-left: solid 1px #444444;
    /* Adds 10 px of padding */
    padding: 10px;
    /* Adds a gap */
    gap: 10px;
}

#Table-Select{
    /* Makes it so that it uses the first collumn and first row */
    grid-column: 1;
    grid-row: 1;
    /* Makes the background colour grey */
    background-color: #DCDCDC;
    /* Makes the font bold and sizes it to fit the container in a relative manner */
    font-weight: bold;
    font-size: 1.1vw;
    /* Sets border to 0 */
    border: 0px;
    /* Aligns the text to the left */
    text-align: left;
    /* Adds 10 px of padding */
    padding: 10px;
    /* Makes font be poppins */
    font-family: 'Poppins';
}

#TotalToPay{
    /* Makes it so that it is in the 2nd and 3rd collumn of the grid  and first row*/
    grid-column: 2/4;
    grid-row: 1;
    /* Makes it so that it is in the middle and to the left of the cell */
    justify-self: left;
    align-self: center;
    /* Sets font to fit container  */
    font-size: 1.5vw;
}

#Current-Dish{
    /* Makes it so that it uses the 1st and 2nd collumn of the 2nd row */
    grid-column: 1/3;
    grid-row: 2;
    /* Sets font to fit container  */
    font-size: 1.5vw;
    /* Makes font be poppins */
    font-family: 'Poppins';
    /* Makes background green */
    background-color: #77DD77;
    /* Removes border */
    border: 0px;

}

#Note{
    /* Sets font to fit container  */
    font-size: 1.5vw;
    /* Makes font be poppins */
    font-family: 'Poppins';
    /* Makes background green */
    background-color: #f39c22;
    /* Remove border */
    border: 0px;
    /* Adds padding on the top */
    padding-top: 10px;
}

#Note img{
    /* Makes image fill container */
    width: 80%;
    /* Makes it stay in the center of the container */
    justify-self: center;
    align-self: center;
}

#Submit-Order{
    /* Make it so that it uses all the collumns on the 3rd row */
    grid-column: 1/4;
    grid-row: 3;
     /* Sets font to fit container  */
     font-size: 1.5vw;
     /* Makes font be poppins */
     font-family: 'Poppins';
     /* Makes background green */
     background-color: #38CEEF;
     /* Removes border */
     border: 0px;
}


/* Order buttons styling end */

/* Dish selection section */
.ListOfDishes{
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Search Bar styling start */
.Search{
    /* Relative height for the search bar */
    height: 8%;
    /* Makes items in the search box display as flex to centralise them */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Adds a border on the bottom*/
    border-bottom: solid 1px #444444;
}

.Search a{
    /* Makes it take up 90% of its flexbox */
    height: 90%;
}

.Search a img{
    /* Forces image to use up all the space of the parent box */
    height: 100%;
}

.Search_Bar{
    /* Sets its height */
    height: 85%;
    /* Displays flex and aligns center so elements inside are centered */
    display: flex;
    align-items: center;
    /* Adds a black border with curved edges */
    border: solid 1px black;
    border-radius: 15px;
    /* Sets its width and pacing from other elements */
    width: 85%;
    margin: 10px;
    margin-right: 3vw;
    box-sizing: border-box;
}
/* Styles the search image */
.Search_Bar img{
    /* Sets its height and adds padding to add spacing */
    height: 80%;
    padding: 10px;

}

.Search_Bar input{
    /* Changes the font to be relative and to be the Poppins font */
    font-family: 'Poppins';
    font-size: 2rem;
    /* Removes default styling of input boxes */
    border: none;
    background-color: transparent;
    color: black;
    /* Sets its sizing and spacing */
    width: 92%;
    height: 86%;
    margin-left: 15px;
}
/* Removes default styling when clicked on the input box */
.Search_Bar input:focus {
    outline: none;
  }


/* Search Bar styling end */


/*  Categories styling start */
.Categories{
    height: 8%;
    /* Puts the categories in the middle to the left of the div */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Adds a border around the categories section */
    border-bottom: solid 1px #444444;
    box-sizing: border-box;
}

#Selected-Category{
    /* sets background colour to  */
    background-color: #49D681;
    /* Sets hight and the width to change depending on the text and adds padding */
    height: 80%;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    /* Sets spacing around it */
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    /* Sets the border radius to make it curved without having an outline */
    border-radius: 15px;
    /* Makes text be in the center of the div */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Sets the text sizing to be relative */
    font-size: 1.5rem;

}

.Unselected-Categories{
    /* Centers the categories and aligns them to display in a row */
    display: flex;
    align-items: center;
    justify-content: center;
    /* sets its hight to the max of the container size */
    height: 100%;
    /* Adds border to the left of the div */
    border-left: solid 1px #444444;
    /* Adds auto scroll to the unselected categories if screen size is too small */
    overflow-x: auto;
}

.UnselectedCat{
    /* Sets the height and width to change depending on the text and adds padding */
    height: 80%;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    /* Sets spacing around it */
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    /* Sets the border radius to make it curved without having an outline */
    border-radius: 15px;
    /* Makes text be in the center of the div */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Sets the text sizing to be relative */
    font-size: 1.5rem;
    /* Sets the background colour */
    background-color: #C9D1CD;
}
/* Categories styling end */

/* Dish Selection styling start */

.Dish-Selection{
    /* Relative height for the dish selection */
    height: 84%;
    /* makes the dish selection scrollable */
    overflow-y: scroll;
    /*Adds grid to display the dishes in a responsive grid which changes depending on screen size */
    display: grid;
    /* Sets grid template coloumns to fit the screen with a width of 220px each and sets a minimum of 3 collumns*/
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    /* Sets minimum amount of coloumns to 3 */
    grid-auto-columns: 3;
    grid-auto-rows: 250px;
    gap: 20px;
    /* adds box spacing and sets its sizing type */
    box-sizing: border-box;
    padding: 10px;
}

.IndivDish{
    /* Makes the container for each dish use all the space allocated to it and aligns text */
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.IndivDish img{
    /* Resizes the image to use all the space allocated to it */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Dish-Price{
    /* Position the text in the top center of the image */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(37, 37, 37, 0.93);
    width: 100%;
    height:20%;
    /* Text  styling */
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
    /* Align the text so that it is in the middle */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dish-Name{
    /* Position the text in the bottom center of the image */
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(37, 37, 37, 0.93);
    width: 100%;
    height:20%;
    /* Text  styling */
    color: rgb(226, 226, 226);
    font-size: 1.2rem;
    /* Align the text so that it is in the middle */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dish Selection styling end */
