/* Defines the font and removes the margin */
body{
    font-family: "Poppins";
    margin: 0px;
    height: 100%;
}

/* Seperates the two sides of the UI using flex and flips them due to one of them being on the wrong side */
.main{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
}

/* Order section */

.Order{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Current-Order{
    background-color: yellow;
    height: 70%;
}

.Order-buttons{
    background-color: chocolate;
    height: 30%;
}

/* Dish selection section */
.ListOfDishes{
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Search Bar styling start */
.Search{
    /* Relative height for the search bar */
    height: 8%;
    /* Makes items in the search box display as flex to centralise them */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Adds a border around the search section */
    border: solid 1px #444444;
}

.Search a{
    /* Makes it take up 90% of its flexbox */
    height: 90%;
}

.Search a img{
    /* Forces image to use up all the space of the parent box */
    height: 100%;
}

.Search_Bar{
    /* Sets its height */
    height: 85%;
    /* Displays flex and aligns center so elements inside are centered */
    display: flex;
    align-items: center;
    /* Adds a black border with curved edges */
    border: solid 1px black;
    border-radius: 15px;
    /* Sets its width and pacing from other elements */
    width: 85%;
    margin: 10px;
    margin-right: 3vw;
    box-sizing: border-box;
}
/* Styles the search image */
.Search_Bar img{
    /* Sets its height and adds padding to add spacing */
    height: 80%;
    padding: 10px;

}

.Search_Bar input{
    /* Changes the font to be relative and to be the Poppins font */
    font-family: 'Poppins';
    font-size: 2rem;
    /* Removes default styling of input boxes */
    border: none;
    background-color: transparent;
    color: black;
    /* Sets its sizing and spacing */
    width: 92%;
    height: 86%;
    margin-left: 15px;
}
/* Removes default styling when clicked on the input box */
.Search_Bar input:focus {
    outline: none;
  }


/* Search Bar styling end */


/*  Categories styling start */
.Categories{
    height: 8%;
    /* Puts the categories in the middle to the left of the div */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Adds a border around the categories section */
    border-bottom: solid 1px #444444;
    box-sizing: border-box;
}

.Selected-Category{
    /* sets background colour to  */
    background-color: #49D681;
    /* Sets hight and the width to change depending on the text and adds padding */
    height: 80%;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    /* Sets spacing around it */
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    /* Sets the border radius to make it curved without having an outline */
    border-radius: 15px;
    /* Makes text be in the center of the div */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Sets the text sizing to be relative */
    font-size: 1.5rem;

}

.Unselected-Categories{
    /* Centers the categories and aligns them to display in a row */
    display: flex;
    align-items: center;
    justify-content: center;
    /* sets its hight to the max of the container size */
    height: 100%;
    /* Adds border to the left of the div */
    border-left: solid 1px #444444;
    /* Adds auto scroll to the unselected categories if screen size is too small */
    overflow-x: auto;
}

.UnselectedCat{
    /* Sets the height and width to change depending on the text and adds padding */
    height: 80%;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    /* Sets spacing around it */
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    /* Sets the border radius to make it curved without having an outline */
    border-radius: 15px;
    /* Makes text be in the center of the div */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Sets the text sizing to be relative */
    font-size: 1.5rem;
    /* Sets the background colour */
    background-color: #C9D1CD;
}
/* Categories styling end */

/* Dish Selection styling start */

.Dish-Selection{
    /* Relative height for the dish selection */
    height: 84%;
    /* makes the dish selection scrollable */
    overflow-y: scroll;
    /*Adds grid to display the dishes in a responsive grid which changes depending on screen size */
    display: grid;
    /* Sets grid template coloumns to fit the screen with a width of 220px each and sets a minimum of 3 collumns*/
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    /* Sets minimum amount of coloumns to 3 */
    grid-auto-columns: 3;
    grid-auto-rows: 250px;
    gap: 20px;
    /* adds box spacing and sets its sizing type */
    box-sizing: border-box;
    padding: 10px;
}

.IndivDish{
    /* Makes the container for each dish use all the space allocated to it and aligns text */
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.IndivDish img{
    /* Resizes the image to use all the space allocated to it */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Dish-Price{
    /* Position the text in the top center of the image */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(37, 37, 37, 0.93);
    width: 100%;
    height:20%;
    /* Text  styling */
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
    /* Align the text so that it is in the middle */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dish-Name{
    /* Position the text in the bottom center of the image */
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(37, 37, 37, 0.93);
    width: 100%;
    height:20%;
    /* Text  styling */
    color: rgb(226, 226, 226);
    font-size: 1.2rem;
    /* Align the text so that it is in the middle */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dish Selection styling end */
