/* static/waiter/css/tableStatusStyle.css */

/* Defines when the css should switch to pc mode determined by screen width */
@media screen and (min-width: 901px){  
    body{
        font-family: 'Poppins';
        margin: 20px;
    }

    header{
        display: flex;
        align-items: center;
        height: 40px; /* Set height of header to align text and SVGs vertically */
        justify-content: space-between;
    }

    /* Sets width and makes it size to border box so that image can't escape */
    header a{
        width: 40px;
        box-sizing: border-box;
    }

    /* Image fills the parent box */
    header a img{
        width: 100%;
        box-sizing: border-box;
    }

    /* Makes colour explanation elements align down the middle of the top of the page */
    .ColourExplanation{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40px;
        margin-right: calc(50vw - 450px);
    } 
    /* Adds spacing to the colour explanation elements  */
    .ColourExplanation div {
        margin-left: 10px; 
        margin-right: 50px;
        height: 40px; 
        line-height: 40px; 
    }

    /* Sets the colour for all the boxes (SVGs) in the colour explanation div */
    #Ready{fill:#60E05D}
    #Waitingtoorder{fill:#E9D734}
    #Waitingfororder{fill:#CE5DE0}
    #Waitingtopay{fill:#F44E4E}
    
    /* Defines the relative font size and margin for all table text */
    .TableNum{
        font-size: 1.9vw;
        margin: 5px 0px 0px 0px ;
        /* Makes bold */
        font-weight: bold;
    }
    .TableStat{
        font-size: 1vw;
        margin: 5px 0px 0px 0px;
    }
    .TableTime{
        font-size: 1.5vw;
        margin: 5px 0px 0px 0px;
    }

    /* Sets the container styling so that they are in the middle and allows them 
    to wrap around so that they don't all stay on one line */
    .TableButtons{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-top: 50px;
    }

    /* Sets size of each button and their spacing from one another */
    .TableButtons form{
        width: 11vw;
        height: 11vw;
        margin: 10px;
        margin-top: 0px;
    }

    /* Sets the colour and styling of the button depending on the colour
    it will also make them all into circles */
    .table-ready {
        background-color: #60E05D;
        height: 100%;
        text-align: center;
        box-sizing: border-box;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .table-waiting-to-order {
        background-color: #E9D734;
        height: 100%;
        text-align: center;
        box-sizing: border-box;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .table-waiting-for-order {
        background-color: #CE5DE0;
        height: 100%;
        text-align: center;
        box-sizing: border-box;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .table-waiting-to-pay {
        background-color: #F44E4E;
        height: 100%;
        text-align: center;
        box-sizing: border-box;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
  
/* Defines when the css should switch to mobile phone mode determined by screen width */
@media screen and (max-width: 900px) {
    body{
        font-family: 'Poppins';
        margin: 0px;
    }

    /* Sets spacing from the sides of the screen and aligns the items */
    header{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
    }

    /* Sets width and makes it size to border box so that image can't escape */
    header a{
        width: 40px;
        box-sizing: border-box;
    }

    /* Image fills the parent box */
    header a img{
        width: 100%;
    }

    /* Hides the colour explanation as it is not needed for the mobile version */
    .ColourExplanation{
        display: none;
    }

    .TableNum{
        font-size: 6vw;
        margin: 1px 0px 0px 0px ;
        font-weight: bold;
    }
    .TableStat{
        font-size: 3vw;
        margin: 1px 0px 0px 0px;
    }
    .TableTime{
        font-size: 4.5vw;
        margin: 1px 0px 0px 0px;
    }

    /* Sets the container styling so that they are in the middle and allows them 
    to wrap around so that they don't all stay on one line */
    .TableButtons{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    /* Sets size of each button and their spacing from one another */
    .TableButtons form{
        width: 95%;
        height: 10vh;
        margin: 5px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* Sets the colour and styling of the button depending on the colour
    it will also make them all into circles */
    .table-ready {
        background-color: #60E05D;
        height: 100%;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }

    /* Over rides font size for the status when status is equal to ready*/
    .table-ready .TableStat{
        font-size: 5vw;
    }

    .table-waiting-to-order {
        background-color: #E9D734;
        height: 100%;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .table-waiting-for-order {
        background-color: #CE5DE0;
        height: 100%;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .table-waiting-to-pay {
        background-color: #F44E4E;
        height: 100%;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}