/* static/loginView/loginStyle.css */

/* This is for computer screen and tablets */
@media screen and (min-width: 600px) {
    body {
        font-family: 'Poppins';
        max-width: 100%;
        height: 100%;
    }

    #hope{
        display: flex;
        justify-content: center;
    }
    .login {
        display: flex;
        flex-direction: column;
        text-align: center;
        box-sizing: border-box;
        height: 100%;
        width: 28%;
    }    
    .formItems {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    .formItems input {
        width: 100%;
        height: 20%;
        border: 5px solid #474747;
        padding: 5%;
        box-sizing: border-box;
        min-height: 20%;
        min-width: 100%;
        /* Changes font size to be relative to the page and reduces the 
        padding of give more space for the text */
        font-size: 2rem;
        padding: 15px 10px;
    }

    #SubmitButton{
        width: 100%;
        height: 20%;
        background-color: #474747;
        color: white;
        font-size: 30px;
        padding: 20px 0px 20px 0px;
        border: 0;
        /* Defines how long the animation should last and what the cursor should look like */
        cursor: pointer; 
        transition-duration: 0ms;  
    }
    
    /* Changes the colour of the button on hover */
    #SubmitButton:hover{
        background-color: #313131;
    }

    /* Moves the button down 5px when it has been clicked */
    #SubmitButton:active{
        transform: translateY(5px);
    }
 }

 /* This is for small devices like phones */
 @media screen and (max-width: 599px) {
    body {
        font-family: 'Poppins';
        max-width: 100%;
        height: 100%;

    }
    .login {
        display: flex;
        flex-direction: column;
        text-align: center;
        box-sizing: border-box;
        height: 100%;
    }    
    .formItems {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    .formItems input {
        width: 100%;
        height: 20%;
        border: 5px solid #474747;
        padding: 5%;
        box-sizing: border-box;
        min-height: 20%;
        min-width: 100%;
        font-size: 2rem;
        padding: 15px 10px;
    }

    #SubmitButton{
        width: 100%;
        height: 20%;
        background-color: #474747;
        color: white;
        font-size: 30px;
        padding: 20px 0px 20px 0px;
        border: 0;
        cursor: pointer;
    }

    #Submitbutton:hover{
        background-color: #313131;
    }

    #SubmitButton:active{
        transform: translateY(-20px);
    }
 }